<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Web Wizdards-Hospital Menagment</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

  
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="/home" class="logo">
					<img src="/assets/img/logo.png" width="35" height="35" alt=""> <span>Web Wizdards</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Bildirimler</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="/assets/img/ecem.jpeg" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Ecemnur Akatmacı</span> Yeni Randevu Ekledi <span class="noti-title">Hasta Randevusu</span></p>
												<p class="noti-time"><span class="notification-time">10 dkk önce</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">A</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Ata Güler</span> Görev adını değiştirdi <span class="noti-title">Ödeme ağ geçidiyle randevu rezervasyonu
                                                </span></p>
												<p class="noti-time"><span class="notification-time">6 dkk önce</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="/assets/img/kemal.jpeg" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Kemal Beydilli</span> Yeni Randevu Ekledi <span class="noti-title">Hasta Randevusu</span></p>
												<p class="noti-time"><span class="notification-time">15 dkk önce</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="/assets/img/ozgur.jpeg" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Ozgur Cagatay Su</span> Randevu İsteği ekledi <span class="noti-title">Hasta Randevusu</span></p>
												<p class="noti-time"><span class="notification-time">18 dkk önce</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="/assets/img/samet.jpeg" class="img-fluid">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Samet Ruzgar</span> Randevu İptal Etti <span class="noti-title">Hasta Randevusu</span></p>
												<p class="noti-time"><span class="notification-time">25 dkk önce</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">Tüm Bİldirimleri Gör</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="/assets/img/user.jpg" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/home/profile">Profilim</a>
						
						<a class="dropdown-item" href="/logout">Çıkış Yap</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/home/profile">Profilim</a>
                    
                    <a class="dropdown-item" href="/logout">Çıkış Yap</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li >
                            <a href="/home"><i class="fa fa-dashboard"></i> <span>Analiz</span></a>
                        </li>
						<li>
                            <a href="/doctors"><i class="fa fa-user-md"></i> <span>Doktorlar</span></a>
                        </li>
                       
                        <li >
                            <a href="/appointment"><i class="fa fa-calendar"></i> <span>Randevular</span></a>
                        </li>
                       
                        <li>
                            <a href="/home/departments"><i class="fa fa-hospital-o"></i> <span>Departmanlar</span></a>
                        </li>
						<li class="submenu">
							<a href="#"><i class="fa fa-user"></i> <span> Çalışanlar </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/employee">Çalışan listesi</a></li>
								<li><a href="/employee/leave">sayfalar</a></li>
								
							</ul>
						</li>
						
						<li class="submenu">
							<a href="#"><i class="fa fa-book"></i> <span> Ödemeler </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/receipt"> Çalışan Maaşları </a></li>
								
							</ul>
						</li>
                       
                        
                        <li class="submenu">
                            <a href="#"><i class="fa fa-envelope"></i> <span> Email</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/compose">Posta Oluştur</a></li>
                                <li><a href="/inbox">Gelen Kutusu</a></li>
                                
                            </ul>
                        </li>
                       
						<li>
							<a href="/store"><i class="fa fa-cube"></i> <span>Eczane</span></a>
						</li>
						
					
                       
                        
                       
                        
                      
                     
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content" id="">
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title">Ödeme</h4>
                    </div>
                    <div class="col-sm-7 col-8 text-right m-b-30">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-white">CSV</button>
                            <button class="btn btn-white" id="cmd">PDF</button>
                            <button class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</button>
                        </div>
                    </div>
                </div>
                <div class="row" id="content">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="payslip-title">Temmuz 2018 ayına ait maaş bordrosu</h4>
                            <div class="row">
                                <div class="col-sm-6 m-b-20">
                                    <img src="/assets/img/logo-dark.png" class="inv-logo" alt="">
                                    <ul class="list-unstyled mb-0">
                                        <li>Web Wizdards</li>
                                        <li>Turan Mah Akçakmak Yolu</li>
                                        <li>no:53 Manisa/Turgutlu</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 m-b-20">
                                    <div class="invoice-details">
                                        <h3 class="text-uppercase">Ödeme #49029</h3>
                                        <ul class="list-unstyled">
                                            <li>ÖDeme Ayı: <span>Aralık, 2023</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 m-b-20">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h5 class="mb-0"><strong><%=name%></strong></h5></li>
                                        <li><span><%=role%></span></li>
                                        <li>Employee ID:<%=id%></li>
                                        <li>Joining Date: <%=join_date%></li>
                                        <li>Email : <%=email%></li>
                                        <li>Contact : <%=contact%></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <h4 class="m-b-10"><strong>Alınalnar</strong></h4>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Bürüt Maaş</strong> <span class="float-right">$<%=salary%></span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Ev Masrafı (H.R.A.)</strong> <span class="float-right">$55</span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Vergi</strong> <span class="float-right">$55</span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Kdv</strong> <span class="float-right">$55</span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Vergi</strong> <span class="float-right"><strong>$55</strong></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <h4 class="m-b-10"><strong>Vergiler</strong></h4>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td><strong>TSK VErgisi</strong> <span class="float-right">$0</span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Başka Vergi</strong> <span class="float-right">$0</span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Yine Vergi</strong> <span class="float-right">$0</span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Vergi</strong> <span class="float-right">$300</span></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Total Maaş</strong> <span class="float-right"><strong>$59698</strong></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <p><strong>Net Maaş: $59698</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    var doc = new jsPDF();
    var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {   
    doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('report.pdf');
});

                </script>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll" id="msg_list">
                       
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>


<!-- salary-view23:28-->
</html>